:root {
	--g-bb:   hsl(144, 100%,03%);  --g-lb:   hsl(144, 70%, 15%); 
	--g-nb:   hsl(144, 90%, 15%);  --g-sb:   hsl(144, 60%, 27%);
	--g-sh:   hsl(144, 80%, 35%);  --g-bd:   hsl(144, 50%, 45%);
	--g-ic:   hsl(144, 80%, 55%);  --g-al:   hsl(144, 50%, 59%);
	--g-at:   hsl(144, 90%, 79%);  --g-pt:   hsl(144, 60%, 67%);
	--g-t2:   hsl(144, 100%,97%);  --g-t1:   hsl(144, 70%, 85%);
	--g-is: hsla(144,80%,35%,.1);  --g-rs: hsla(144,50%,70%,.1);

	--o-bb:   hsl(025, 100%,03%);  --o-lb:   hsl(025, 70%, 15%); 
	--o-nb:   hsl(025, 90%, 15%);  --o-sb:   hsl(025, 60%, 27%);
	--o-sh:   hsl(025, 80%, 35%);  --o-bd:   hsl(025, 50%, 45%);
	--o-ic:   hsl(025, 80%, 55%);  --o-al:   hsl(025, 50%, 59%);
	--o-at:   hsl(025, 90%, 79%);  --o-pt:   hsl(025, 60%, 67%);
	--o-t2:   hsl(025,100%, 97%);  --o-t1:   hsl(025, 70%, 85%);
	--o-is: hsla(025,80%,35%,.1);  --o-rs: hsla(025,50%,70%,.1);

	--r-bb:   hsl(353, 100%,03%);  --r-lb:   hsl(353, 70%, 15%); 
	--r-nb:   hsl(353, 90%, 15%);  --r-sb:   hsl(353, 60%, 27%);
	--r-sh:   hsl(353, 80%, 35%);  --r-bd:   hsl(353, 50%, 45%);
	--r-ic:   hsl(353, 80%, 55%);  --r-al:   hsl(353, 50%, 59%);
	--r-at:   hsl(353, 90%, 79%);  --r-pt:   hsl(353, 60%, 67%);
	--r-t2:   hsl(353,100%, 97%);  --r-t1:   hsl(353, 70%, 85%);
	--r-is: hsla(353,80%,35%,.1);  --r-rs: hsla(353,50%,70%,.1);

	--b-bb:   hsl(207, 100%,03%);  --b-lb:   hsl(207, 70%, 15%); 
	--b-nb:   hsl(207, 90%, 15%);  --b-sb:   hsl(207, 60%, 27%);
	--b-sh:   hsl(207, 80%, 35%);  --b-bd:   hsl(207, 50%, 45%);
	--b-ic:   hsl(207, 80%, 55%);  --b-al:   hsl(207, 50%, 59%);
	--b-at:   hsl(207, 90%, 79%);  --b-pt:   hsl(207, 60%, 67%);
	--b-t2:   hsl(207,100%, 97%);  --b-t1:   hsl(207, 70%, 85%);
	--b-is: hsla(207,80%,35%,.1);  --b-rs: hsla(207,50%,70%,.1);


	--l-filt: brightness(130%);
	--d-filt: brightness(90%);

	--bb:   var(--g-bb);   --lb:    var(--g-lb);
	--nb:   var(--g-nb);   --sb:    var(--g-sb);
	--sh:   var(--g-sh);   --bd:    var(--g-bd);
	--ic:   var(--g-ic);   --al:    var(--g-al);
	--at:   var(--g-at);   --pt:    var(--g-pt);
	--t2:   var(--g-t2);   --t1:    var(--g-t1);
	--is:   var(--g-is);   --rs:    var(--g-rs);
	--p-fl: var(--l-filt);  --s-fl: var(--d-filt);

	font-size: 16px;
	--img-size: calc(1em * 3);

	background-color: var(--bb);
}

#app {
	height: 100%;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	
	color: var(--pt);
	background-color: var(--bb);
}

body {
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}

a {
	color: var(--at);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--at);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
	border: none;
	margin: 0;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	filter: var(--p-fl);
}

button:focus {
	border-color: #666;
}

h1 {
	position: relative;
	font-size: 1.6rem;
	text-align: center;
	margin-block: .2em;
	color: var(--t1);
}

h1::after {
	content: '';

	position: absolute;
	bottom: -7%;
	left: 50%;
	min-width: 80vw;
	height: 2px;

	transform: translateX(-50%);
	opacity: 50%;

	background-color: var(--ic);
}

h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

h2, h3, h4, h5, h6, p, legend {
	margin-block: 0.1em;
	color: var(--t2);
	text-align: center;
}
p, legend {
	color: var(--pt);
}
legend::after {
	content: ':';
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.svg {
	fill: currentColor;
	width: var(--img-size);
	box-sizing: border-box;
	padding: 0.5em;
}

.head-tag {
	background-color: var(--lb);
    color: var(--t1);

    box-shadow: 0 3px 5px var(--is);
}

.icon-pre-rotate {
	transform: rotate(0);
}
.icon-pre-rotate.animation {
	transition: transform 200ms;
}
.panel-sect {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 1em;
	
	position: fixed;
	box-sizing: border-box;

	top: calc(1rem * 4.7);
	left: 0;

	border-radius: 7px;

	margin-inline: 4vw;
	padding: 1em 2em;

	width: 92vw;
	height: calc(90vh - (1rem * 5));

	background-color: var(--nb);
	box-shadow: 2px 4px 7px var(--is);
	
}
.panel-sect.animation {
	transition:
		transform 400ms cubic-bezier(0.5, -0.3, 0.5, 1.3),
		filter 400ms cubic-bezier(0.5, -0.3, 0.5, 1.3);
}
.panel-sect.left {
	filter: opacity(25%);
	transform: translateX(-110%) scale(75%);
}
.panel-sect.right {
	filter: opacity(25%);
	transform: translateX(110%) scale(75%);
}
.panel-sect.active {
	filter: opacity(100%);
	transform: translateX(0) scale(100%);
}

.filter-transition.animation {
	transition: filter 200ms ease-in-out;
}
.filter-transition.animation::after {
	transition: filter 200ms ease-in-out;
}


.darkmode {
	--p-fl: var(--l-filt);  --s-fl: var(--d-filt);
}
.lightmode {
	--p-fl: var(--d-filt);  --s-fl: var(--l-filt);
}
.darkmode.green {
	--bb:   var(--g-bb);   --lb:    var(--g-lb);
	--nb:   var(--g-nb);   --sb:    var(--g-sb);
	--sh:   var(--g-sh);   --bd:    var(--g-bd);
	--ic:   var(--g-ic);   --al:    var(--g-al);
	--at:   var(--g-at);   --pt:    var(--g-pt);
	--t2:   var(--g-t2);   --t1:    var(--g-t1);

	--is:   var(--g-is);   --rs:    var(--g-rs);
}
.lightmode.green {
	--bb:   var(--g-t2);   --lb:    var(--g-t1);
	--nb:   var(--g-at);   --sb:    var(--g-pt);
	--sh:   var(--g-ic);   --bd:    var(--g-al);
	--ic:   var(--g-sh);   --al:    var(--g-bd);
	--at:   var(--g-nb);   --pt:    var(--g-sb);
	--t2:   var(--g-bb);   --t1:    var(--g-lb);

	--is:   var(--g-rs);   --rs:    var(--g-is);
}
.darkmode.orange {
	--bb:   var(--o-bb);   --lb:    var(--o-lb);
	--nb:   var(--o-nb);   --sb:    var(--o-sb);
	--sh:   var(--o-sh);   --bd:    var(--o-bd);
	--ic:   var(--o-ic);   --al:    var(--o-al);
	--at:   var(--o-at);   --pt:    var(--o-pt);
	--t2:   var(--o-t2);   --t1:    var(--o-t1);
	
	--is:   var(--o-is);   --rs:    var(--o-rs);
}
.lightmode.orange {
	--bb:   var(--o-t2);   --lb:    var(--o-t1);
	--nb:   var(--o-at);   --sb:    var(--o-pt);
	--sh:   var(--o-ic);   --bd:    var(--o-al);
	--ic:   var(--o-sh);   --al:    var(--o-bd);
	--at:   var(--o-nb);   --pt:    var(--o-sb);
	--t2:   var(--o-bb);   --t1:    var(--o-lb);

	--is:   var(--o-rs);   --rs:    var(--o-is);
}
.darkmode.red {
	--bb:   var(--r-bb);   --lb:    var(--r-lb);
	--nb:   var(--r-nb);   --sb:    var(--r-sb);
	--sh:   var(--r-sh);   --bd:    var(--r-bd);
	--ic:   var(--r-ic);   --al:    var(--r-al);
	--at:   var(--r-at);   --pt:    var(--r-pt);
	--t2:   var(--r-t2);   --t1:    var(--r-t1);

	--is:   var(--r-is);   --rs:    var(--r-rs);
}
.lightmode.red {
	--bb:   var(--r-t2);   --lb:    var(--r-t1);
	--nb:   var(--r-at);   --sb:    var(--r-pt);
	--sh:   var(--r-ic);   --bd:    var(--r-al);
	--ic:   var(--r-sh);   --al:    var(--r-bd);
	--at:   var(--r-nb);   --pt:    var(--r-sb);
	--t2:   var(--r-bb);   --t1:    var(--r-lb);

	--is:   var(--r-rs);   --rs:    var(--r-is);
}
.darkmode.blue {
	--bb:   var(--b-bb);   --lb:    var(--b-lb);
	--nb:   var(--b-nb);   --sb:    var(--b-sb);
	--sh:   var(--b-sh);   --bd:    var(--b-bd);
	--ic:   var(--b-ic);   --al:    var(--b-al);
	--at:   var(--b-at);   --pt:    var(--b-pt);
	--t2:   var(--b-t2);   --t1:    var(--b-t1);

	--is:   var(--b-is);   --rs:    var(--b-rs);
}
.lightmode.blue {
	--bb:   var(--b-t2);   --lb:    var(--b-t1);
	--nb:   var(--b-at);   --sb:    var(--b-pt);
	--sh:   var(--b-ic);   --bd:    var(--b-al);
	--ic:   var(--b-sh);   --al:    var(--b-bd);
	--at:   var(--b-nb);   --pt:    var(--b-sb);
	--t2:   var(--b-bb);   --t1:    var(--b-lb);

	--is:   var(--b-rs);   --rs:    var(--b-is);
}

@media only screen and (min-width: 768px) and (min-height: 780px) {
	:root {
		font-size: 24px;
	}
}
@media only screen and (min-width: 1440px) and (min-height: 1628px) {
	:root {
		font-size: 40px;
	}
}
@media only screen and (min-width: 2560px) and (min-height: 2850px) {
	:root {
		font-size: 64px;
	}
}