:root {
	--g-bb: hsl(140, 100%, 02%);
	--g-lb: hsl(140, 70%, 10%);
	--g-nb: hsl(140, 90%, 10%);
	--g-sb: hsl(140, 60%, 27%);
	--g-sh: hsl(140, 80%, 35%);
	--g-bd: hsl(140, 50%, 40%);
	--g-ic: hsl(140, 80%, 55%);
	--g-al: hsl(140, 50%, 55%);
	--g-at: hsl(140, 90%, 90%);
	--g-pt: hsl(140, 60%, 87%);
	--g-t2: hsl(140, 100%, 98%);
	--g-t1: hsl(140, 70%, 90%);
	--G-bb: hsl(160, 100%, 02%);
	--G-lb: hsl(160, 70%, 10%);
	--G-nb: hsl(160, 90%, 10%);
	--G-sb: hsl(160, 60%, 27%);
	--G-sh: hsl(160, 80%, 35%);
	--G-bd: hsl(160, 50%, 40%);
	--G-ic: hsl(160, 80%, 55%);
	--G-al: hsl(160, 50%, 55%);
	--G-at: hsl(160, 90%, 90%);
	--G-pt: hsl(160, 60%, 87%);
	--G-t2: hsl(160, 100%, 98%);
	--G-t1: hsl(160, 70%, 90%);
	--g-is: hsla(144, 60%, 27%, 0.5);
	--g-rs: hsla(144, 60%, 75%, 0.5);

	--o-bb: hsl(025, 100%, 03%);
	--o-lb: hsl(025, 70%, 10%);
	--o-nb: hsl(025, 90%, 10%);
	--o-sb: hsl(025, 60%, 27%);
	--o-sh: hsl(025, 80%, 35%);
	--o-bd: hsl(025, 50%, 40%);
	--o-ic: hsl(025, 80%, 55%);
	--o-al: hsl(025, 50%, 55%);
	--o-at: hsl(025, 90%, 90%);
	--o-pt: hsl(025, 60%, 87%);
	--o-t2: hsl(025, 100%, 98%);
	--o-t1: hsl(025, 70%, 90%);
	--O-bb: hsl(040, 100%, 03%);
	--O-lb: hsl(040, 70%, 10%);
	--O-nb: hsl(040, 90%, 10%);
	--O-sb: hsl(040, 60%, 27%);
	--O-sh: hsl(040, 80%, 35%);
	--O-bd: hsl(040, 50%, 40%);
	--O-ic: hsl(040, 80%, 55%);
	--O-al: hsl(040, 50%, 55%);
	--O-at: hsl(040, 90%, 90%);
	--O-pt: hsl(040, 60%, 87%);
	--O-t2: hsl(040, 100%, 98%);
	--O-t1: hsl(040, 70%, 90%);
	--o-is: hsla(025, 60%, 27%, 0.5);
	--o-rs: hsla(025, 60%, 75%, 0.5);

	--r-bb: hsl(353, 100%, 03%);
	--r-lb: hsl(353, 70%, 10%);
	--r-nb: hsl(353, 90%, 10%);
	--r-sb: hsl(353, 60%, 27%);
	--r-sh: hsl(353, 80%, 35%);
	--r-bd: hsl(353, 50%, 40%);
	--r-ic: hsl(353, 80%, 55%);
	--r-al: hsl(353, 50%, 55%);
	--r-at: hsl(353, 90%, 87%);
	--r-pt: hsl(353, 60%, 75%);
	--r-t2: hsl(353, 100%, 98%);
	--r-t1: hsl(353, 70%, 90%);
	--R-bb: hsl(340, 100%, 03%);
	--R-lb: hsl(340, 70%, 10%);
	--R-nb: hsl(340, 90%, 10%);
	--R-sb: hsl(340, 60%, 27%);
	--R-sh: hsl(340, 80%, 35%);
	--R-bd: hsl(340, 50%, 40%);
	--R-ic: hsl(340, 80%, 55%);
	--R-al: hsl(340, 50%, 55%);
	--R-at: hsl(340, 90%, 87%);
	--R-pt: hsl(340, 60%, 75%);
	--R-t2: hsl(340, 100%, 98%);
	--R-t1: hsl(340, 70%, 90%);
	--r-is: hsla(353, 60%, 27%, 0.5);
	--r-rs: hsla(353, 60%, 75%, 0.5);

	--b-bb: hsl(207, 100%, 03%);
	--b-lb: hsl(207, 70%, 10%);
	--b-nb: hsl(207, 90%, 10%);
	--b-sb: hsl(207, 60%, 27%);
	--b-sh: hsl(207, 80%, 35%);
	--b-bd: hsl(207, 50%, 40%);
	--b-ic: hsl(207, 80%, 55%);
	--b-al: hsl(207, 50%, 55%);
	--b-at: hsl(207, 90%, 87%);
	--b-pt: hsl(207, 60%, 75%);
	--b-t2: hsl(207, 100%, 98%);
	--b-t1: hsl(207, 70%, 90%);
	--B-bb: hsl(220, 100%, 03%);
	--B-lb: hsl(220, 70%, 10%);
	--B-nb: hsl(220, 90%, 10%);
	--B-sb: hsl(220, 60%, 27%);
	--B-sh: hsl(220, 80%, 35%);
	--B-bd: hsl(220, 50%, 40%);
	--B-ic: hsl(220, 80%, 55%);
	--B-al: hsl(220, 50%, 55%);
	--B-at: hsl(220, 90%, 87%);
	--B-pt: hsl(220, 60%, 75%);
	--B-t2: hsl(220, 100%, 98%);
	--B-t1: hsl(220, 70%, 90%);
	--b-is: hsla(207, 60%, 27%, 0.5);
	--b-rs: hsla(207, 60%, 75%, 0.5);

	--l-filt: brightness(130%);
	--d-filt: brightness(90%);

	--bb: var(--g-bb);
	--lb: var(--g-lb);
	--nb: var(--g-nb);
	--sb: var(--g-sb);
	--sh: var(--g-sh);
	--bd: var(--g-bd);
	--ic: var(--g-ic);
	--al: var(--g-al);
	--at: var(--g-at);
	--pt: var(--g-pt);
	--t2: var(--g-t2);
	--t1: var(--g-t1);
	--is: var(--g-is);
	--rs: var(--g-rs);

	--bb-2: var(--G-bb);
	--lb-2: var(--G-lb);
	--nb-2: var(--G-nb);
	--sb-2: var(--G-sb);
	--sh-2: var(--G-sh);
	--bd-2: var(--G-bd);
	--ic-2: var(--G-ic);
	--al-2: var(--G-al);
	--at-2: var(--G-at);
	--pt-2: var(--G-pt);
	--t2-2: var(--G-t2);
	--t1-2: var(--G-t1);
	--p-fl: var(--l-filt);
	--s-fl: var(--d-filt);

	font-size: 16px;
	--img-size: 40px;

	background-color: var(--bb);
}

#app {
	min-height: 100vh;
	height: max-content;

	color: var(--pt);
	background-color: var(--bb);
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden visible;
}

body {
	position: relative;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: var(--at);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--at);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
	border: none;
	margin: 0;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	filter: var(--p-fl);
}

button:focus {
	border-color: #666;
}

h1 {
	position: relative;
	font-size: 1.6rem;
	text-align: center;
	margin-block: 0.3em;
	color: var(--t1);
}

h1::after {
	content: '';

	position: absolute;
	bottom: -13%;
	left: 50%;

	width: 80vw;
	height: 3px;

	border-radius: 2px;

	transform: translateX(-50%);
	opacity: 50%;

	background-color: var(--ic);
}

h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.4rem;
}
h4 {
	font-size: 1.3rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1.05rem;
}

h2,
h3,
h4,
h5,
h6,
p,
legend {
	margin-block: 0.1em;
	color: var(--t2);
	text-align: center;
}
p,
legend {
	color: var(--pt);
}
legend::after {
	content: ':';
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.sect-h5 {
	position: relative;
	width: 100%;
}
.sect-h5::after {
	content: '';
	position: absolute;
	bottom: -40%;
	left: 0;
	width: 100%;
	height: 3px;
	border-radius: 2px;
	background-color: var(--ic);
	box-shadow: 0 0 10px 5px var(--is);
}

.border-radius {
	border-radius: 7px;
}

.primary-btn {
	box-sizing: border-box;
	height: var(--img-size);
	background-color: var(--al);
	color: var(--lb);
	box-shadow: 0 0 10px var(--rs);
	border-radius: 7px;
}

.secondary-btn {
	box-sizing: border-box;
	height: var(--img-size);
	background-color: var(--lb);
	color: var(--al);
	border: 3px solid var(--al);
	box-shadow: 0 0 10px var(--rs);
	border-radius: 7px;
}

.terciary-btn {
	box-sizing: border-box;
	height: var(--img-size);
	background-color: var(--sb);
	color: var(--at);
	box-shadow: 0 0 10px var(--is);
	border-radius: 7px;
}

.svg {
	fill: currentColor;
	width: var(--img-size);
	box-sizing: border-box;
	padding: 0.5em;
}

.head-tag {
	background-color: var(--lb);
	color: var(--t1);

	box-shadow: 0 3px 5px var(--is);
}

.icon-pre-rotate {
	transform: rotate(0);
}
#app.animation .icon-pre-rotate {
	transition: transform 200ms;
}
.panel-sect {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 1em;

	position: fixed;
	box-sizing: border-box;

	top: calc(1rem * 4.7);
	left: 0;

	border-radius: 7px;

	margin-inline: 4vw;
	padding: 1em 2em;

	width: 92vw;
	height: calc(90vh - (1rem * 5));

	background-color: var(--nb);
	box-shadow: 2px 4px 7px var(--is);
}
#app.animation .panel-sect {
	transition: transform 400ms cubic-bezier(0.5, -0.3, 0.5, 1.3);
}
.panel-sect.left {
	transform: translateX(-110%) scale(75%);
}
.panel-sect.right {
	transform: translateX(110%) scale(75%);
}
.panel-sect.active {
	transform: translateX(0) scale(100%);
}

#app.animation .filter-transition {
	transition: filter 200ms ease-in-out;
}

#app.animation .filter-transition::after {
	transition: filter 200ms ease-in-out;
}

.alert-background {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
}

.backdrop-filter {
	backdrop-filter: grayscale(0.75) blur(5px);
}

.alert {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;

	width: 90vw;
	height: 80vh;

	margin-top: 1rem;
	padding: 2rem 1rem 1.2rem 1rem;

	background-color: var(--t2);
	color: var(--sb);
}
.alert h5,
.alert h6 {
	color: var(--lb);
}
.alert h6 {
	font-weight: 500;
}
.alert p {
	color: inherit;
}
.alert a {
	color: inherit;
	filter: var(--s-fl);
}
.alert svg {
	position: absolute;
	width: 6rem;
	top: -12%;
}

.input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0 0;
	background-color: var(--bb-2);
	border: 3px solid var(--lb-2);
	height: var(--img-size);
}

.darkmode {
	--g-wc: var(--g-sh);
	--g-wb: var(--g-lb);
	--o-wc: var(--o-sh);
	--o-wb: var(--o-lb);
	--r-wc: var(--r-sh);
	--r-wb: var(--r-lb);
	--b-wc: var(--b-sh);
	--b-wb: var(--b-lb);
	--p-fl: var(--l-filt);
	--s-fl: var(--d-filt);
}
.lightmode {
	--g-wc: var(--g-ic);
	--g-wb: var(--g-t1);
	--o-wc: var(--o-ic);
	--o-wb: var(--o-t1);
	--r-wc: var(--r-ic);
	--r-wb: var(--r-t1);
	--b-wc: var(--b-ic);
	--b-wb: var(--b-t1);
	--p-fl: var(--d-filt);
	--s-fl: var(--l-filt);
}
.darkmode.green {
	--bb: var(--g-bb);
	--lb: var(--g-lb);
	--nb: var(--g-nb);
	--sb: var(--g-sb);
	--sh: var(--g-sh);
	--bd: var(--g-bd);
	--ic: var(--g-ic);
	--al: var(--g-al);
	--at: var(--g-at);
	--pt: var(--g-pt);
	--t2: var(--g-t2);
	--t1: var(--g-t1);

	--bb-2: var(--G-bb);
	--lb-2: var(--G-lb);
	--nb-2: var(--G-nb);
	--sb-2: var(--G-sb);
	--sh-2: var(--G-sh);
	--bd-2: var(--G-bd);
	--ic-2: var(--G-ic);
	--al-2: var(--G-al);
	--at-2: var(--G-at);
	--pt-2: var(--G-pt);
	--t2-2: var(--G-t2);
	--t1-2: var(--G-t1);

	--is: var(--g-is);
	--rs: var(--g-rs);
}
.lightmode.green {
	--bb: var(--g-t2);
	--lb: var(--g-t1);
	--nb: var(--g-at);
	--sb: var(--g-pt);
	--sh: var(--g-ic);
	--bd: var(--g-al);
	--ic: var(--g-sh);
	--al: var(--g-bd);
	--at: var(--g-nb);
	--pt: var(--g-sb);
	--t2: var(--g-bb);
	--t1: var(--g-lb);

	--bb-2: var(--G-t2);
	--lb-2: var(--G-t1);
	--nb-2: var(--G-at);
	--sb-2: var(--G-pt);
	--sh-2: var(--G-ic);
	--bd-2: var(--G-al);
	--ic-2: var(--G-sh);
	--al-2: var(--G-bd);
	--at-2: var(--G-nb);
	--pt-2: var(--G-sb);
	--t2-2: var(--G-bb);
	--t1-2: var(--G-lb);

	--is: var(--g-rs);
	--rs: var(--g-is);
}
.darkmode.orange {
	--bb: var(--o-bb);
	--lb: var(--o-lb);
	--nb: var(--o-nb);
	--sb: var(--o-sb);
	--sh: var(--o-sh);
	--bd: var(--o-bd);
	--ic: var(--o-ic);
	--al: var(--o-al);
	--at: var(--o-at);
	--pt: var(--o-pt);
	--t2: var(--o-t2);
	--t1: var(--o-t1);

	--bb-2: var(--O-bb);
	--lb-2: var(--O-lb);
	--nb-2: var(--O-nb);
	--sb-2: var(--O-sb);
	--sh-2: var(--O-sh);
	--bd-2: var(--O-bd);
	--ic-2: var(--O-ic);
	--al-2: var(--O-al);
	--at-2: var(--O-at);
	--pt-2: var(--O-pt);
	--t2-2: var(--O-t2);
	--t1-2: var(--O-t1);

	--is: var(--o-is);
	--rs: var(--o-rs);
}
.lightmode.orange {
	--bb: var(--o-t2);
	--lb: var(--o-t1);
	--nb: var(--o-at);
	--sb: var(--o-pt);
	--sh: var(--o-ic);
	--bd: var(--o-al);
	--ic: var(--o-sh);
	--al: var(--o-bd);
	--at: var(--o-nb);
	--pt: var(--o-sb);
	--t2: var(--o-bb);
	--t1: var(--o-lb);

	--bb-2: var(--O-t2);
	--lb-2: var(--O-t1);
	--nb-2: var(--O-at);
	--sb-2: var(--O-pt);
	--sh-2: var(--O-ic);
	--bd-2: var(--O-al);
	--ic-2: var(--O-sh);
	--al-2: var(--O-bd);
	--at-2: var(--O-nb);
	--pt-2: var(--O-sb);
	--t2-2: var(--O-bb);
	--t1-2: var(--O-lb);

	--is: var(--o-rs);
	--rs: var(--o-is);
}
.darkmode.red {
	--bb: var(--r-bb);
	--lb: var(--r-lb);
	--nb: var(--r-nb);
	--sb: var(--r-sb);
	--sh: var(--r-sh);
	--bd: var(--r-bd);
	--ic: var(--r-ic);
	--al: var(--r-al);
	--at: var(--r-at);
	--pt: var(--r-pt);
	--t2: var(--r-t2);
	--t1: var(--r-t1);

	--bb-2: var(--R-bb);
	--lb-2: var(--R-lb);
	--nb-2: var(--R-nb);
	--sb-2: var(--R-sb);
	--sh-2: var(--R-sh);
	--bd-2: var(--R-bd);
	--ic-2: var(--R-ic);
	--al-2: var(--R-al);
	--at-2: var(--R-at);
	--pt-2: var(--R-pt);
	--t2-2: var(--R-t2);
	--t1-2: var(--R-t1);

	--is: var(--r-is);
	--rs: var(--r-rs);
}
.lightmode.red {
	--bb: var(--r-t2);
	--lb: var(--r-t1);
	--nb: var(--r-at);
	--sb: var(--r-pt);
	--sh: var(--r-ic);
	--bd: var(--r-al);
	--ic: var(--r-sh);
	--al: var(--r-bd);
	--at: var(--r-nb);
	--pt: var(--r-sb);
	--t2: var(--r-bb);
	--t1: var(--r-lb);

	--bb-2: var(--R-t2);
	--lb-2: var(--R-t1);
	--nb-2: var(--R-at);
	--sb-2: var(--R-pt);
	--sh-2: var(--R-ic);
	--bd-2: var(--R-al);
	--ic-2: var(--R-sh);
	--al-2: var(--R-bd);
	--at-2: var(--R-nb);
	--pt-2: var(--R-sb);
	--t2-2: var(--R-bb);
	--t1-2: var(--R-lb);

	--is: var(--r-rs);
	--rs: var(--r-is);
}
.darkmode.blue {
	--bb: var(--b-bb);
	--lb: var(--b-lb);
	--nb: var(--b-nb);
	--sb: var(--b-sb);
	--sh: var(--b-sh);
	--bd: var(--b-bd);
	--ic: var(--b-ic);
	--al: var(--b-al);
	--at: var(--b-at);
	--pt: var(--b-pt);
	--t2: var(--b-t2);
	--t1: var(--b-t1);

	--bb-2: var(--B-bb);
	--lb-2: var(--B-lb);
	--nb-2: var(--B-nb);
	--sb-2: var(--B-sb);
	--sh-2: var(--B-sh);
	--bd-2: var(--B-bd);
	--ic-2: var(--B-ic);
	--al-2: var(--B-al);
	--at-2: var(--B-at);
	--pt-2: var(--B-pt);
	--t2-2: var(--B-t2);
	--t1-2: var(--B-t1);

	--is: var(--b-is);
	--rs: var(--b-rs);
}
.lightmode.blue {
	--bb: var(--b-t2);
	--lb: var(--b-t1);
	--nb: var(--b-at);
	--sb: var(--b-pt);
	--sh: var(--b-ic);
	--bd: var(--b-al);
	--ic: var(--b-sh);
	--al: var(--b-bd);
	--at: var(--b-nb);
	--pt: var(--b-sb);
	--t2: var(--b-bb);
	--t1: var(--b-lb);

	--bb-2: var(--B-t2);
	--lb-2: var(--B-t1);
	--nb-2: var(--B-at);
	--sb-2: var(--B-pt);
	--sh-2: var(--B-ic);
	--bd-2: var(--B-al);
	--ic-2: var(--B-sh);
	--al-2: var(--B-bd);
	--at-2: var(--B-nb);
	--pt-2: var(--B-sb);
	--t2-2: var(--B-bb);
	--t1-2: var(--B-lb);

	--is: var(--b-rs);
	--rs: var(--b-is);
}

/* @media only screen and (min-width: 768px) and (min-height: 780px) {
	:root {
		font-size: 24px;
	}
}
@media only screen and (min-width: 1440px) and (min-height: 1628px) {
	:root {
		font-size: 40px;
	}
}
@media only screen and (min-width: 2560px) and (min-height: 2850px) {
	:root {
		font-size: 64px;
	}
} */
