:root {
	--g-b-bg:   #000803;  --g-h-bg:   #0d1a11; 
	--g-s-bg:   #015928;  --g-s-bd:   #5c9975;
	--g-icon:   #45e589;  --g-s-sh:   #b6d6c3;
	--g-s-fg:   #d0f5e1;  --g-h-fg:   #eefaf3;
	--g-i-rs: #01592810;  --g-s-rs: #b6d6c310;

	--o-b-bg:   #080300;  --o-h-bg:   #1a120d;
	--o-s-bg:   #592600;  --o-s-bd:   #99755c;
	--o-icon:   #e58745;  --o-s-sh:   #d6c3b6;
	--o-s-fg:   #f5d0d5;  --o-h-fg:   #faf3ee;
	--o-i-rs: #59260010;  --o-s-rs: #d6c3b610;

	--r-b-bg:   #080003;  --r-h-bg:   #1a0d0e;
	--r-s-bg:   #59000b;  --r-s-bd:   #995c62;
	--r-icon:   #e54557;  --r-s-sh:   #d6b6b9;
	--r-s-fg:   #f5d0d5;  --r-h-fg:   #faeeef;
	--r-i-rs: #59000120;  --r-s-rs: #d6b6b910;

	--b-b-bg:   #000408;  --b-h-bg:   #0d141a;
	--b-s-bg:   #003159;  --b-s-bd:   #5c7d99;
	--b-icon:   #459ce5;  --b-s-sh:   #b6c9d6;
	--b-s-fg:   #d0e5f5;  --b-h-fg:   #eef5fa;
	--b-i-rs: #00315910;  --b-s-rs: #b6c9d610;

	--l-filt: brightness(130%);
	--d-filt: brightness(70%);

	--b-bg: var(--g-b-bg);  --h-bg: var(--g-h-bg);
	--s-bg: var(--g-s-bg);  --s-bd: var(--g-s-bd);
	--icon: var(--g-icon);  --s-sh: var(--g-s-rs);
	--s-fg: var(--g-s-fg);  --h-fg: var(--g-h-fg);
	--p-fl: var(--d-filt);  --s-fl: var(--l-filt);
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden;
	color: var(--s-fg);
	background-color: var(--b-bg);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		'Helvetica Neue', sans-serif;
}
main {
	padding: 0.5em;
}

a {
	color: var(--s-sh);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--s-sh);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
	border: none;
	margin: 0;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	filter: var(--p-fl);
}

button:focus {
	border-color: #666;
}

h1 {
	position: relative;
	font-size: 22px;
}

h1::after {
	content: '';

	position: absolute;
	bottom: -50%;
	left: 50%;

	min-width: 105%;
	width: 80vw;
	height: 2px;

	transform: translateX(-50%);
	opacity: 50%;

	background-color: var(--main-inverse-color);
}

h2 { font-size: 21px; }
h3 { font-size: 20px; }
h4 { font-size: 19px; }
h5 { font-size: 18px; }
h6 { font-size: 17px; }

h2, h3, h4, h5, h6, p {
	margin-block: 0.1em;
}

.svg {
	fill: currentColor;
	min-width: 48px;
	box-sizing: border-box;
	padding: 0.5em;
}

.head-tag {
	background-color: var(--h-bg);
    color: var(--h-sh);

    box-shadow: 0 3px 5px var(--s-sh);
}